<!DOCTYPE html>
<html>
<head>
	<title>Index of {{ .Path }}</title>
</head>
<body>
	<h1>Index of {{ .Path }}</h1>
	<ul>
		{{ range .Items }}
		<li><a href="{{ .Path }}/{{ . }}">{{ . }}</a></li>
		{{ end }}
	</ul>
</body>
</html>